
<div class="row">

    <div class="col-sm-6">
      <div class="card">
        <h5>Phone</h5>
        <a href="tel:+40729356388">+40729356388</a>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card email">
        <h5>Email</h5>
        <a [routerLink]="['/email-form']">comanandrei1993@gmail.com</a>
      </div>
    </div>

</div>

<div class="social">
    <div class="my-footer">
      <a href="https://www.facebook.com/andreicoman1993" class="nav-link" target="_blank"><fa name="facebook-square"></fa></a>
      <a href="https://www.instagram.com/comanandrei1993/" class="nav-link" target="_blank"><fa name="instagram"></fa></a>
      <a href="http://www.linkedin.com/in/andrei-coman-907877171" class="nav-link" target="_blank"><fa name="linkedin"></fa></a>
    </div>
</div>

