@import '../../global-styles/variables';
@import '../../global-styles/link-styles';
@import '../../mixins/selection-txt-selector.scss';
@import '../../global-styles/keyframes';

@include selection {
  color: $themeBlue1;
  background-color: #ffffff;
}

// Stick footer to bottom of page

.row {
  padding-bottom: 50px;
}

.social {
  position: fixed;
  bottom: 0;
  width: 100%;
}

//////////////////////////////////

a, a:visited, a:hover {
  text-decoration: none;
}

a {
  font-size: 16px;
  transition: color 0.5s;
}

a:hover {
  color: $complementBlue1;
}

.card {
  background-color: $themeBlue1;
  text-align: center;
  height: 200px;
  padding: 40px 10px;
  min-width: 125px;
}

.email {

  a:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    transition: border-bottom 0.8s;
  }

  a:hover:after {
    border-bottom: 1px solid $complementBlue1;
  }
}

.social {
  max-width: 100%;
  background-color: $themeBlue1;

  a {
    font-size: 24px;
  }

  .my-footer {
  display: flex;
  justify-content: center;
}

}

.row {
  margin-right: 0;
}

.row > div {
  margin-top: 20px;
  padding: 0 30px;
}

@media screen and (max-width: 580px) {
  .row {

    div {
      max-width: 300px;
      margin: 10px auto;
    }
  }
}

@media screen and (min-width: 580px) and (max-width: 1080px) {
  .row {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1081px) {
  .row {
    padding-left: 30%;
    padding-right: 30%;
  }
}

// ----- Animations -----

// Social media buttons
.facebook-logo {
  animation: from-left 2s ease-in;
}

.instagram-logo {
  animation: from-bottom 2s ease-in backwards;
  animation-delay: 0.125s;
}

.linkedin-logo {
  animation: from-right 2s ease-in;
}

.phone, .email {
  animation: rotate-90 2s;
}

// Card text

.my-cards {
  animation: change-color 1.5s backwards;
  animation-delay: 1s;
}

@keyframes change-color {
  0% {
    color: $themeBlue1;
  }
  100% {
    color: #ffffff;
  }
}

// :after bottom border color
.email {

  a:after {
    animation: my-border-color 1.5s backwards;
    animation-delay: 1s;
  }
}

@keyframes my-border-color {
  0% {
    border-bottom: 1px solid $themeBlue1;
  }
  100% {
    border-bottom: 1px solid #ffffff;
  }
}