@import '../../global-styles/variables';
@import '../../global-styles/link-styles';

// ----- VARIABLES -----

$textAnimation: 4s;

// ///////////

a {
  color: $themeBlue1;
}

a:hover {
  color: #ffffff;
}

.my-paragraph {
  color: #ffffff;
}

.row {
  margin: 25px auto;

  p {
    margin-bottom: 20px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .row {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1081px) {
  .row {
    padding-left: 30%;
    padding-right: 30%;
  }

}

// ----- Animations -----

// Left TEXT
.left-text {
  animation: text-from-left $textAnimation ease-out forwards;
}

@keyframes text-from-left {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateY(50px);
  }
}

// @keyframes from-left {
//   from {
//     transform: translateX(-100vw);
//   }
//   to {
//     transform: translateX(0);
//   }
// }

// RIGHT TEXT
.right-text {
  animation: text-from-right $textAnimation ease-out forwards;
}

// @keyframes from-right {
//   from {
//     transform: translateX(100vw);
//   }
//   to {
//     transform: translateX(0);
//   }
// }

@keyframes text-from-right {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateY(50px);
  }
}