<div class="row container">
  <div class="col-sm-6">
    <div class="card">
      <img src="../../../assets/images/html-logo.png" alt="html logo" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img
        src="../../../assets/images/css-logo.png"
        alt="css logo"
        style="width: 70%; margin: 0 auto;"
      />
    </div>
  </div>
</div>

<div class="row container">
  <div class="col-sm-6">
    <div class="card">
      <img
        src="../../../assets/images/javascript-logo.png"
        alt="javascript logo"
      />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="../../../assets/images/angular-logo.png" alt="angular logo" />
    </div>
  </div>
</div>
