<div class="bg-primary">
  <div class="container">
    <nav class="navbar navbar-dark">
      <a routerLink="about-me" class="nav-link welcome">Welcome to my page</a>

      <ul class="navbar">
        <li class="nav-item">
          <a routerLink="about-me" class="nav-link link-1">About Me</a>
        </li>
        <li class="nav-item">
          <a routerLink="my-skills" class="nav-link link-2">My Skills</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link link-3">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
